@model HelperMethods.Models.Person

@{
    ViewBag.Title = "Create Person";
    Html.EnableClientValidation(false);
}

<!DOCTYPE html>

<h2>Create Person: @Html.LabelForModel()</h2>

@using(Html.BeginRouteForm("FormRoute", new {}, FormMethod.Post,
    new { @class="personClass", data_formType="person"}))
{ 
    @Html.EditorForModel()
    <input type="Submit" value="Submit" />
}
